doctype html
html(lang="en")
    head
        title="Doctor"
        include extendFile.pug
    body
        include header.pug        
        //- include navbar.html
        br
        div
            .container
                div.card
                    .card-header
                        h1(align="center")="Login"
                    div.card-body
                        if errMsg
                            h4.text-danger(align="center")=errMsg
                        form(action="/admin", method="post")
                            .form-group.row
                                label.col-sm-2.offset-sm-2.col-form-label(for='txtEmail') Email
                                    font(size='3', color='red') *
                                .col-sm-6
                                    input.form-control(type='email',name='txtEmail',required='',placeholder="Enter Your Email")
                            .form-group.row
                                label.col-sm-2.offset-sm-2.col-form-label(for='txtPass') Password
                                    font(size='3', color='red') *
                                .col-sm-6
                                    input.form-control(type='password',name='txtPass',required='',placeholder="Enter Your Password")
                            button.btn.btn-primary.offset-sm-2(type='submit') Submit
        br
        include ../footer.pug
                            


