header
  nav.navbar.navbar-expand-sm.bg-info.navbar-dark
    ul.navbar-nav.reveal
      li.nav-item.active
        a.nav-link(href='/') Covid19Help      
      li.nav-item
        a.nav-link(href='/admin/allDoctor') Doctor
      li.nav-item
        a.nav-link(href='/admin/selectedDoctor') Selected Doctor     
      li.nav-item
        a.nav-link(href='/admin/rejectedDoctor') Rejected Doctor     
      li.nav-item
        a.nav-link(href='/admin/serviceList') Service
      li.nav-item
        a.nav-link(href='/admin/selectedService') Selected Service     
      li.nav-item
        a.nav-link(href='/admin/rejectedService') Rejected Service     
      li.nav-item
        a.nav-link(href='/admin/patientList') PatientList     
      li.nav-item
        a.nav-link(href='/admin/logout') Logout     
