doctype html
html(lang="en")
    head
        include extendFile.pug
    body
        //- include header.pug 
        header
            nav.navbar.navbar-expand-sm.bg-info.navbar-dark
                ul.navbar-nav.reveal
                    li.nav-item.active
                        a.nav-link(href='/') Covid19Help  
        br
        div
            .container
                if errMsg
                    .alert.alert-danger.text-center(role='alert')=errMsg
                div.card
                    .card-header
                        h1(align="center")="Doctor Login"
                    div.card-body
                        form(action="/doctor/login", method="post")
                            .form-group.row
                                label.col-sm-2.offset-sm-2.col-form-label(for='txtEmail') Email
                                    font(size='3', color='red') *
                                .col-sm-6
                                    input.form-control(type='email',name='txtEmail',required='',placeholder="Enter Your Email")
                            .form-group.row
                                label.col-sm-2.offset-sm-2.col-form-label(for='txtPass') Password
                                    font(size='3', color='red') *
                                .col-sm-6
                                    input.form-control(type='password',name='txtPass',required='',placeholder="Enter Your Password")
                            button.btn.btn-primary.offset-sm-2(type='submit') Submit
        br
        include ../footer.pug
                            


