select#state.form-control(name='txtCategory',required='')
  option.disabled(value='') --Select--
  option(value='Physical Injury') Physical Injury
  option(value='Serious Injury') Serious Injury
  option(value='Daily Checkup') Daily Checkup 
  option(value='Internal Injury') Internal Injury
  option(value='Simple Inquiry') Simple Inquiry
  option(value='Other') Other