select#state.form-control(name='txtQualification',required='')
  option.disabled(value='') --Select--
  option(value='MBBS') MBBS
  option(value='BDS') BDS 
  option(value='BAMS') BAMS 
  option(value='BUMS') BUMS
  option(value='BHMS') BHMS
  option(value='BYNS') BYNS
  option(value='B.V.SC and AH') B.V.SC and AH
  option(value='MD') MD
  option(value='MS') MS
  option(value='DNB') DNB
  option(value='OTHER') OTHER
//-   option(value='') 
//-   option(value='') 
//-   option(value='') 
//-   option(value='') 

  