header
  nav.navbar.navbar-expand-sm.bg-info.navbar-dark
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/') Covid19Help
      li.nav-item
        a.nav-link(href='/doctor') Doctor
      li.nav-item
        a.nav-link(href='/patient') Patient
      li.nav-item
        a.nav-link(href='/service') Service
      li.nav-item
        a.nav-link(href='/service/getAll') Find Service
