doctype html
html(lang="en")
    head
        title="Doctor"
        include extendFile.pug
    body
        include header.pug        
        //- include navbar.html
        br
        div
            .container
                div.card
                    if msg
                        .alert.alert-success(role='alert')=msg
                    .card-header="Welcome..."
                    div.card-body

