doctype html
html(lang="en")
    head
        include extendFile.pug
    body
        include header.pug        
        //- include navbar.html
        br
        div
            .container
                if succ
                    .alert.alert-success(role='alert')=succ
                if err
                    .alert.alert-danger(role='alert')=err
                div.card                    
                    .card-header="Welcome..."
                    div.card-body

