doctype html
html(lang="en")
    head
        include extendFile.pug
    body
        include header.pug
        br
        div
            .container.container-fluid
                if errMsg
                    .alert.alert-danger(role='alert')=errMsg
                div.card
                    .card-header.h2.text-center="Patient"
                    div.card-body
                        form(action="/patient", method="post")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtFirstName') First Name 
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtFirstName',required='',placeholder="Enter Your Firstname")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtLastName') Last Name
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtLastName',required='',placeholder="Enter Your Lastname")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtEmail') Email
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='email',name='txtEmail',required='',placeholder="Enter Your Email")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='Gender') Gender
                                    font(size='3', color='red') *
                                .col-sm-10
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='radio', name='txtGender', value='Male', checked='')
                                            | Male
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='radio', name='txtGender', value='Female')
                                            | Female
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='radio', name='txtGender', value='Other')
                                            | Other
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtMobile') Mobile No.
                                    font(size='3', color='red') *
                                .col-sm-4
                                    input.form-control(type='string',name='txtMobile',required='',placeholder="Enter Your 10 Digit Mobile Number",pattern="[6789][0-9]{9}",title="Phone number startwith 6-9 and remaing 9 digit with 0-9")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtState') State
                                    font(size='3', color='red') *
                                .col-sm-4
                                    //- input.form-control(type='text',name='txtState',required='',placeholder="Enter Your State")        
                                    include stateCmb.pug
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtAge') Age
                                    font(size='3', color='red') *
                                .col-sm-4
                                    input.form-control(type='number',name='txtAge',required='',value=18)
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtCategory') Category
                                    font(size='3', color='red') *
                                .col-sm-4
                                    //- input.form-control(type='text',name='txtState',required='',placeholder="Enter Your State")        
                                    include categoryDiseaseCmb.pug      
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtDisease') Disease
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtDisease',required='',placeholder="Enter Your Disease in short",pattern=".{0,30}",title="Less than 30 character")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtDiseaseDetails') Disease Details
                                .col-sm-10
                                    textarea.form-control(name='txtDiseaseDetails',placeholder="Details about your Disease")                                           
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtFromDays') Disease From Last
                                    font(size='3', color='red') *
                                .col-sm-10
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='radio', name='txtFromDays', value='1', checked='')
                                            | 1 Day
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='radio', name='txtFromDays', value='7')
                                            | 2-7 Days
                                    .form-check
                                        label.form-check-label 
                                            input.form-check-input(type='radio', name='txtFromDays', value='15')
                                            | 8-15 Days
                                    .form-check
                                        label.form-check-label 
                                            input.form-check-input(type='radio', name='txtFromDays', value='30')
                                            | 16-30 Days
                                    .form-check
                                        label.form-check-label 
                                            input.form-check-input(type='radio', name='txtFromDays', value='60')
                                            |2 Months
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='radio', name='txtFromDays', value='60+')
                                            | More than 2 Months
                            .form-group.row
                                .col-sm-10
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(type='checkbox', name='txtGender', value='txtTC', required='')
                                            | I am agree to share my details. I read instration from 
                                            a(href="/#patient") Here.
                            button.btn.btn-primary(type='submit') Submit
        br
        include footer.pug

