doctype html
html(lang="en")
    head
        title="Doctor"
        include extendFile.pug
    body
        include header.pug
        br
        div
            .container.container-fluid
                div.card
                    div.card-body
                        if errMsg
                            h4.text-danger(align="center")=errMsg
                        form(action="/patient", method="post")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtFirstName') First Name 
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtFirstName',required='',placeholder="Enter Your Firstname")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtLastName') Last Name
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtLastName',required='',placeholder="Enter Your Lastname")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtEmail') Email
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='email',name='txtEmail',required='',placeholder="Enter Your Email")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='Gender') Gender
                                    font(size='3', color='red') *
                                .col-sm-10
                                    .form-check
                                        input.form-check-input(type='radio', name='txtGender', value='Male', checked='')
                                        label.form-check-label
                                            | Male
                                    .form-check
                                        input.form-check-input(type='radio', name='txtGender', value='Female')
                                        label.form-check-label
                                            | Female
                                    .form-check
                                        input.form-check-input(type='radio', name='txtGender', value='Other')
                                        label.form-check-label
                                            | Other
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtMobile') Mobile No.
                                    font(size='3', color='red') *
                                .col-sm-4
                                    input.form-control(type='string',name='txtMobile',required='',placeholder="Enter Your 10 Digit Mobile Number",pattern="[6789][0-9]{9}",title="Phone number startwith 6-9 and remaing 9 digit with 0-9")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtState') State
                                    font(size='3', color='red') *
                                .col-sm-4
                                    //- input.form-control(type='text',name='txtState',required='',placeholder="Enter Your State")        
                                    include stateCmb.pug
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtAge') Age
                                    font(size='3', color='red') *
                                .col-sm-4
                                    input.form-control(type='number',name='txtAge',required='',value=18)        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtDisease') Disease
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtDisease',required='',placeholder="Enter Your Disease in short",pattern=".{0,30}",title="Less than 30 character")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtDiseaseDetails') Disease Details
                                .col-sm-10
                                    textarea.form-control(rows='5', name='txtDiseaseDetails')                                           
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtFromDays') Disease From Last
                                    font(size='3', color='red') *
                                .col-sm-10
                                    .form-check
                                        input.form-check-input(type='radio', name='txtFromDays', value='1', checked='')
                                        label.form-check-label 1 Day
                                    .form-check
                                        input.form-check-input(type='radio', name='txtFromDays', value='7')
                                        label.form-check-label 2-7 Days
                                    .form-check
                                        input.form-check-input(type='radio', name='txtFromDays', value='15')
                                        label.form-check-label 8-15 Days
                                    .form-check
                                        input.form-check-input(type='radio', name='txtFromDays', value='30')
                                        label.form-check-label 16-30 Days
                                    .form-check
                                        input.form-check-input(type='radio', name='txtFromDays', value='60')
                                        label.form-check-label 2 Months
                                    .form-check
                                        input.form-check-input(type='radio', name='txtFromDays', value='60+')
                                        label.form-check-label More than 2 Months
                            button.btn.btn-primary(type='submit') Submit
        br
        include footer.pug

