select#state.form-control(name='txtCategory',required='')
  option.disabled(value='') --Select--
  option(value='Laboratory') Laboratory
  option(value='Covid19 Lab') Covid19 Lab
  option(value='Medical')  Medical
  option(value='Hospital') Hospital 
  option(value='Paramedical staff') Paramedical staff
  option(value='Ambulance Service') Ambulance Service
  option(value='General Store') General Store [Fruit,Groceries,Vegetables]
  option(value='NGO') NGO
  option(value='Free Food') Free Food
  option(value='Fundraisers') Fundraisers
  option(value='Transport Service') Transport Service
  option(value='Isolation Ward Provider') Isolation Ward Provider
  option(value='Other') Other