doctype html
html(lang="en")
    head
        include extendFile.pug
    body
        include header.pug
        br
        div
            .container.container-fluid
                if errMsg
                    .alert.alert-danger(role='alert')=errMsg
                div.card
                    .card-header.text-center="Service"
                    div.card-body
                        form(action="/service", method="post")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtNameOfOrg') Name Of Organization 
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtNameOfOrg',required='',placeholder="Enter Organization Name")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtContactPersonName') Contact Person Name
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtContactPersonName',required='',placeholder="Enter Contact Person Name")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtMobile') Mobile No.
                                    font(size='3', color='red') *
                                .col-sm-4
                                    input.form-control(type='string',name='txtMobile',required='',placeholder="Enter Your 10 Digit Mobile Number",pattern="[6789][0-9]{9}",title="Phone number startwith 6-9 and remaing 9 digit with 0-9")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtState') State
                                    font(size='3', color='red') *
                                .col-sm-4
                                    //- input.form-control(type='text',name='txtState',required='',placeholder="Enter Your State")        
                                    include stateCmb.pug
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtCity') City
                                    font(size='3', color='red') *
                                .col-sm-4
                                    input.form-control(type='text',name='txtCity',required='',placeholder="Enter Your city name")
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtCategory') Category
                                    font(size='3', color='red') *
                                .col-sm-4
                                    //- input.form-control(type='text',name='txtState',required='',placeholder="Enter Your State")        
                                    include serviceCategoryCmb.pug      
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtService') Service Provided
                                    font(size='3', color='red') *
                                .col-sm-10
                                    input.form-control(type='text',name='txtService',required='',placeholder="Describe Your Service",pattern=".{0,30}",title="Less than 30 character")        
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtServiceDetails') Service Details
                                .col-sm-10
                                    textarea.form-control(name='txtServiceDetails',placeholder="Describe Your Service in details")                                           
                            .form-group.row
                                label.col-sm-2.col-form-label(for='txtAreaOfService') Area of Service(within you can provide)
                                    font(size='3', color='red') *
                                .col-sm-10
                                    .form-check
                                        input.form-check-input(type='radio', name='txtAreaOfService', value='Our Locality', checked='')
                                        label.form-check-label Our Locality
                                    .form-check
                                        input.form-check-input(type='radio', name='txtAreaOfService', value='City')
                                        label.form-check-label City
                                    .form-check
                                        input.form-check-input(type='radio', name='txtAreaOfService', value='Arround the City')
                                        label.form-check-label Arround the City
                                    .form-check
                                        input.form-check-input(type='radio', name='txtAreaOfService', value='State')
                                        label.form-check-label State
                                    .form-check
                                        input.form-check-input(type='radio', name='txtAreaOfService', value='Country')
                                        label.form-check-label Country
                            button.btn.btn-primary(type='submit') Submit
        br
        include footer.pug

